#Structures Accesses
public net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplate f_74482_

#Renders for containers screen
protected-f net.minecraft.client.gui.screens.inventory.AbstractContainerScreen f_169604_

#FluidModel
public net.minecraftforge.client.model.FluidModel$CachingBakedFluid


public net.minecraft.world.level.block.entity.BlockEntity f_58856_ # cachedBlockState
public net.minecraft.world.level.block.entity.BlockEntity m_58903_()Lnet/minecraft/world/level/block/entity/BlockEntityType; # getType

